* {
  box-sizing: border-box;
  
  
}
:root {
  --primary-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --dark-text-color: #8f95a5;
  --primary-button-color: #4d5ae5;
  --secondary-button-color: #404bbf;
  --white-color: #fff;
  --primary-font-family: "roboto";
}
body {
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.link{
  text-decoration: none;
}
/* card list portfolio */
.card-list{
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  flex-basis: calc((100%-48px) / 3);
  text-decoration: none;
}
.borders {
  border: 1px solid #e7e9fc;
  border-top: transparent;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header {
  outline: solid #e7e9fc;
}
.name-stuff {
  text-align: center;
  padding-top: 32px;
  padding-right: 65px;
  padding-bottom: 32px;
  padding-left: 65px;
}

.our-work {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  /* identical to box height, or 111% */

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  /* NAVY BLUE */
}
.our-team {
  display: flex;
  gap: 24px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1158px;
}
.container-flex {
  display: flex;
  align-items: center;
}

.header-logo,
.header-link,
.header-tel,
.header-tel {
  padding-top: 24px;
  padding-bottom: 24px;
  display: inline-block;
}

.header-list {
  display: flex;
  gap: 40px;
}

.contacts-list {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.logo-studio.logo-studio-footer {
  color: var(--white-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.header-logo {
  font-weight: 800;
  font-family: raleway;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-right: 76px;
}
.header-mail {
  margin-right: 40px;
}

.logo-web {
  font-size: 18px;
  line-height: 1.33;
  /* identical to box height, or 133% */

  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  /* IRIS */

  color: #4d5ae5;
}
.logo-studio {
  font-size: 18px;
  line-height: 1.33;
  /* identical to box height, or 133% */

  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  /* IRIS */

  color: #2e2f42;
}

.header-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.header-navigation {
  display: flex;
  align-items: center;
}

.header-link:hover {
  color: #404bbf;
}
.header-mail {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5px;
  letter-spacing: 0.02em;
  color: #434455;
}
.header-mail:hover {
  color: #404bbf;
}
.header-tel {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5px;
  letter-spacing: 0.02em;

  color: #434455;
}
.header-tel:hover {
  color: #404bbf;
}
.our-skills {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  /* identical to box height, or 120% */

  letter-spacing: 0.02em;
}
.our-stuff {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  text-align: center;
  letter-spacing: 0.02em;
}
.paragraphes {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  /* or 150% */

  letter-spacing: 0.02em;
  margin-bottom: 0;

  /* SLATE */
}
.list-skills {
  display: flex;
  gap: 24px;
  margin-top: 120px;

}
.button {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background: #f4f4fd;
  cursor: pointer;
  border-radius: 4px;
  border-color: transparent;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
}
.button:hover,
:focus {
  background-color: #404bbf;
  color: #ffffff;
}
.button-list {
  justify-content: center;
  display: flex;
  gap: 24px;
  list-style: none;
}
.list-headlines {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.headlines-section {
  background-color: #2e2f42;
  
  text-align: center;
}

.first-headlines {
  font-weight: 600;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 48px;

  color: #ffffff;
}
/* card list index html */
.card-list-index {
  display: flex;
  gap: 24px;
}
.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.18;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  margin: 0 auto;
  padding: 15px 31px;
  border-color: transparent;
  padding: 15px 31px;
}
.btn:hover {
  background-color: #404bbf;
}
.footer {
  background-color: #2e2f42;
  color: #e7e9fc;
}
